.section-title {
    text-align: center;
    padding-bottom: 0px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color:#173B6C;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 4px;
    background: #1bbd36;
    bottom: 0;
    left: calc(50% - 25px);
  }